body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url('images/bkg_shade.gif');
	text-align: justify;
	line-height: 150%;
}
.mlink {
	line-height: 110%;
	text-align: left;
	font-size: 10pt;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
}
.contents {
	background-color: #FFFFFF;
	background-image: url('images/bg_contents.gif');
	background-repeat: repeat-y;
	background-position-x: left;
}
.first {
	margin-top: 0px;
}
.last {
	margin-bottom: 0px;
}
.b0 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 100%;
}
.bl1 {
	margin-left: 40px;
	margin-right: 40px;
}
.bl2 {
	margin-left: 80px;
	margin-right: 80px;
}
.bl3 {
	margin-left: 80px;
	margin-right: 40px;
}
.bl4 {
	text-align: center;
}
.bs1 {
	border-left: 1px solid #CCCCCC;
	border-right: 2px solid #C0C0C0;
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid #C0C0C0;
	background-color: #F8F8F8;
}
table {
	font-size: 10pt;
	text-align: justify;
}
a:link {
	color: #0000FF;
	text-decoration: none;
}
a:active {
	color: #FF00FF;
	text-decoration: none;
}
a:visited {
	color: #8000FF;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
a:link.menu {
	color: #000000;
	text-decoration: none;
}
a:active.menu {
	color: #FF0000;
	text-decoration: none;
}
a:visited.menu {
	color: #800080;
	text-decoration: none;
}
a:hover.menu {
	color: #FF0000;
	text-decoration: underline;
}
h6 {
	text-align: left;
	margin-top: 12px;
	margin-bottom: 12px;
}
h5 {
	color: #333333;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 10pt;
	font-weight: bold;
}
h4 {
	color: #333333;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 12pt;
	font-weight: bold;
}
h3 {
	color: #333333;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 14pt;
	font-weight: bold;
}
h2 {
	color: #333333;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 16pt;
	font-weight: bold;
}
h1 {
	color: #333333;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 18pt;
	font-weight: bold;
}
.main {
	color: #333333;
	font-family: Times New Roman;
	font-size: 20pt;
	text-decoration: none;
	background-image: url('images/tmain001.gif');
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 150%;
	text-indent: 80px;
}
.menu_item {
	color: #FF6600;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}
.flow {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.small {
	font-size: 8pt;
}
.b {
	color: #333333;
	font-weight: bold;
}
.big {
	font-size: 12pt;
	font-weight: bold;
}
.c {
	color: #009900;
	font-style: italic;
}
.f {
	color: #000000;
	font-family: Times New Roman, Times;
	font-size: 12pt;
	font-style: italic;
}
.i {
	color: #000000;
	font-weight: bold;
}
.n {
	color: #0000FF;
}
.pp {
	color: #006600;
	font-weight: bold;
	font-style: italic;
}
.rem {
	color: #336699;
}
.sign {
	color: #336699;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.t {
	color: #FF0000;
}
.v {
	color: #CC3399;
}
pre {
	color: #333333;
	font-family: Courier New;
	font-size: 10pt;
	text-align: left;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height: 120%;
}
.example {
	border-left: 1px solid #FFCC00;
	border-right: 1px solid #CC6600;
	border-top: 1px solid #FFCC00;
	border-bottom: 1px solid #CC6600;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FEF2CF;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.program {
	border: 4px solid #000000;
	color: #FFFFFF;
	background-color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-image: url('');
	line-height: 100%;
	font-family: Courier New;
	font-size: 10pt;
}
.note {
	color: #993300;
	border: 1px dotted #FF0000;
	margin: 4;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #FEF0C2;
}
table.tblack {
	color: #FFFFFF;
	border: 1px outset #CCCCCC;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #000000;
}
td.tblack {
	color: #CCCCCC;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
th.tblack {
	border-bottom: 1px solid #C0C0C0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #666666;
}
table.tblue {
	color: #000000;
	border: 1px outset #CCFFFF;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #99CCFF;
}
td.tblue {
	color: #000000;
	border-right: 1px solid #0099CC;
	border-bottom: 1px solid #0099CC;
}
th.tblue {
	border-bottom: 1px solid #66CCFF;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #0000FF;
}
table.pict {
	color: #000000;
	border: 1px outset #66CCFF;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #CCFFFF;
	background-image: url('images/bg_paper_blue.gif');
}
td.pict {
	color: #006699;
	border-right: 1px solid #336699;
	border-bottom: 1px solid #336699;
}
th.pict {
	border-bottom: 1px solid #336699;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #CCFFFF;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #336699;
	background-image: url('images/bg_paper_dark.gif');
}
table.text {
	color: #000000;
	border: 1px outset #FFCC00;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #FFFFCC;
	background-image: url('images/bg_paper_yellow.jpg');
}
td.text {
	color: #800000;
	border-right: 1px solid #CC6600;
	border-bottom: 1px solid #CC6600;
}
th.text {
	border-bottom: 1px solid #CC6600;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFCC00;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #993300;
	background-image: url('images/bg_paper_brown.gif');
}
table.tyellow {
	color: #000000;
	border: 1px outset #FFCC00;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #FFFF66;
}
td.tyellow {
	color: #000000;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}
th.tyellow {
	border-bottom: 1px solid #FF9900;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #FFCC00;
}
td.blue {
	background-image: url('images/bg_mmd.gif');
	background-repeat: repeat-x;
	background-position-y: top;
}
ul.l_circle_gray {
	list-style-image: url('images/blt_cir_10.gif');
}
ul.l_sqrare_gray {
	list-style-image: url('images/blt_sqr_10.gif');
}
ul.l_arrow_blue {
	list-style-image: url('images/blt_arrow_blue.gif');
}
ul.l_arrow_orange {
	list-style-image: url('images/blt_arrow_orange.gif');
}
p {
	margin-top: 6px;
	margin-bottom: 6px;
}
